<div class="form-container">
  <div class="form-card">
    <h2 class="form-title">Add New Item</h2>
    
    <% if @item.errors.any? %>
      <div class="error-notice">
        <h4>Please fix the following errors:</h4>
        <ul>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= form_with model: @item, local: true do |f| %>
      <div>
        <%= f.text_field :name, placeholder: "Item name", class: "form-input" %>
      </div>
      
      <div>
        <%= f.number_field :price, placeholder: "Price", step: 0.01, min: 0.01, class: "form-input" %>
      </div>
      
      <div>
        <%= f.submit "Add Item", class: "form-submit" %>
      </div>
    <% end %>
    
    <div>
      <%= link_to "Back to Items", items_path, class: "back-link" %>
    </div>
  </div>
</div>