<div class="form-container">
  <div class="form-card">
    <h2 class="form-title">Add New Category</h2>
    
    <% if @category.errors.any? %>
      <div class="error-notice">
        <h4>Please fix the following errors:</h4>
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= form_with model: @category, local: true do |f| %>
      <div>
        <%= f.text_field :name, placeholder: "Category name", class: "form-input" %>
      </div>
      
      <div>
        <%= f.text_field :icon, placeholder: "Icon (emoji)", class: "form-input" %>
      </div>
      
      <div>
        <%= f.submit "Add Category", class: "form-submit" %>
      </div>
    <% end %>
    
    <div>
      <%= link_to "Back to Categories", categories_path, class: "back-link" %>
    </div>
  </div>
</div>